<p>
    <a href="{{ path('app_admin_user_post', {'id': user.id}) }}">
        Voir les posts
    </a>
    |
    <a href="{{ path('app_admin_user_comment', {'id': user.id}) }}">
        Voir les commentaires
    </a>
</p>
