{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}

    <section class="editor-screen">
        <article class="editor-card">

            <h1 class="editor-title">Édition commentaire</h1>

            {{ include('comment/_form.html.twig') }}

            <div class="editor-footer">
                <a class="editor-back"
                   href="{{ path('app_post_show', {'id': postId}) }}">
                    Retour
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('comment/_delete_form.html.twig') }}
                {% endif %}
            </div>

        </article>
    </section>


{% endblock %}
