{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    {% if comment.parent %}
        <a href="{{ path('app_comment_show', {'id': comment.id}) }}">back to list</a>
    {% else %}
        <a href="{{ path('app_post_show', {'id': postId}) }}">back to list</a>
    {% endif %}

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
