{% extends 'base.html.twig' %}

{% block title %}Ask to reset password{% endblock %}

{% block body %}
    <h1>Ask to reset password</h1>

    {{ form_start(requestResetPasswordForm) }}
    {{ form_row(requestResetPasswordForm.email) }}
    <button type="submit" class="btn">Send</button>
    {{ form_end(requestResetPasswordForm) }}
{% endblock %}
