{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <h1>Reset your password</h1>

    {{ form_start(resetPasswordForm) }}
    {{ form_row(resetPasswordForm.plainPassword.first, {label: 'Your new password'}) }}
    {{ form_row(resetPasswordForm.plainPassword.second,{label:'Confirm your new password'}) }}
    <button type="submit" class="btn">Send</button>
    {{ form_end(resetPasswordForm) }}
{% endblock %}
