{% block subject %}Validation d'email{% endblock subject %}

{% block text %}
    Rendez vous sur le lien suivant : {{ absolute_url(path('app_register_validate', {'value': token.value})) }}
{% endblock text %}

{% block html %}
    Cliquez sur le lien <a href="{{ absolute_url(path('app_register_validate', {'value': token.value})) }}">Ici</a>
{% endblock html %}
