{% block subject %}Reset password{% endblock subject %}

{% block html %}
    To reset your password, click on the link  <a href="{{ absolute_url(path('app_reset-password', {'value': token.value})) }}">Ici</a>
{% endblock html %}
